@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;

}

body {
    background-color: black;
}


.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/655a9668-b002-4262-8afb-cf71e45d1956/5ff265b6-3037-44b2-b071-e81750b21783/IN-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_c6d6616f-4478-4ac2-bdac-f54b444771dd_small.jpg");
    height: 70vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}


nav img {
    color: red;
    width: 126px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'martel-sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(59, 59, 59);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(248, 243, 243, 0.021);
    font-weight: 400;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 16px 16px 16px 16px;
    font-size: 25px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 18px 120px 18px 13px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid rgba(246, 238, 238, 0.5)
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}


section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;



}

section.first>div :nth-child(2) {
    font-size: 24px;


}

.faq {
    font-size: 24px;
    padding: 10px 12%;
    text-align: center;
}

.faq h2 {
    font-weight: 700;
    font-size: 45px;
    color: white;
}

* {
    color: white;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    align-items: center;
    display: flex;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    font-weight: 200;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;

}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 16px 16px 16px 16px;
    font-size: 25px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}

.email {
    padding: 18px 120px 18px 13px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid rgba(246, 238, 238, 0.5)
}

.footer h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer .col {
    float: left;
    width: 25%;

}


.col:nth-child(4) {
    order: -1;
}


.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}
